body {
    overflow-x: hidden;
    background-color: #684BB1;
    background-image: url("./bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 35px;
}

header {
    margin-top: 38px;
}

main {
    background-image: url(./illustration-mockups.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 70px;
    padding-top: 268px;
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 0 24px;
}

button {
    background-color: #FFFFFF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border: 0;
    border-radius: 20px;
    padding: 11px 76px;
    margin-left: 50%;
    transform: translateX(-100px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #684BB1;

    transition: transform 1s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #E880E8;
    color: #ffffff;
}

.social-media {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 11px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #FFFFFF solid;
    border-radius: 50%;
    width: 28px;
    height: 28px;

    transition: transform 1s ease-in-out;
}

.logo:hover {
    transform: rotate(720deg);
    cursor: pointer;
    border-color: #FF52C1;
}

.logo:hover svg {
    fill: #FF52C1;
}

.fb svg {
    width: 7px;
    fill: #FFFFFF;
}

.twt svg {
    width: 18px;
    fill: #FFFFFF;
}

.ins svg {
    width: 13px;
    fill: #FFFFFF;
}

@media screen and (min-width:1024px) {
    body {
        background-image: url("./bg-desktop.svg");
        background-size: cover;
        padding: 0 80px;
    }

    header {
        margin-top: 50px;
        margin-left: -84px;
    }

    header svg {
        width: 400px;
        height: 64px;
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        background-size: 50%;
        padding-bottom: 200px;
    }

    section {
        position: absolute;
        top: 202px;
        width: 410px;


    }

    h1 {
        font-size: 40px;
        line-height: 60px;
        text-align: unset;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
        text-align: unset;
        padding-top: 24px;
    }

    button {
        background-color: #FFFFFF;
        color: #684BB1;
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
        border-radius: 28px;
        padding: 13px 63px 16px 64px;
        font-size: 18px;
        line-height: 27px;
        margin: 0;
        transform: translateX(0);
    }

    .social-media {
        position: absolute;
        right: 80px;
        top: 595px;
        gap: 16px;
        width: fit-content;

    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .fb svg {
        width: 9px;
    }

    .twt svg {
        width: 26px;
    }

    .ins svg {
        width: 19px;
    }
}

@media screen and (min-width: 1440px) {
    section {
        left: 835px;
        width: 520px;

    }

}